@import url(http://fonts.googleapis.com/css?family=Comfortaa);

#suggestion {
	font-family: "Comfortaa";
	font-size: 1.4em;
	width: 60%;
	margin: 0px auto;
	text-align: center;
	position: relative;
	top: 100px;
	background-color: #e5fccd;
	padding: 10px;
	border: 1px solid black;
	border-radius: 8px;
}
#suggestion span {
	font-size: 1.6em;
	margin-left: 10px;
	color: #d32c0b;
}
#suggestion p{
	font-size: 1.6em;
	text-align: center;
}
button {
	width: 250px;
	height: 40px;
	font-family: "Comfortaa";
	font-size: .8em;
	background-color: #0b4ed3;
	color: white;
	border: 1px solid black;
	border-radius: 8px;
}